html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0px;
    margin: 0;
}

header {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
    padding: 0px;
    margin-bottom: 40px;
    border-bottom: 2px solid #cccccc;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.75em;
}

.name {
    margin: 0px 0px 0px 12.5%;
    padding: 25px 20px;
    color: white;
    background: #3a3a3a;
    float: left;
}

.navbar {
    float: right;
    margin: 0px 12.5% 0px 0px;
    padding: 30px 0px 30px 30px;
}

.navbar a {
    display: block;
    float: left;
    color: #777777;
    text-decoration: none;
    padding: 15px;
}

.navbar a:hover {
    display: block;
    float: left;
    color: #3a3a3a;
    text-decoration: none;
    padding: 15px;
    background-color: #ececec;
}

.h-div {
    float: left;
    background: #3a3a3a;
    padding: 15px 0;
    height: 18px;
    width: 1px;
}

section {
    overflow: auto;
    width: 70%;
    margin: 0px 12.5% 100px 12.5%;
    padding: 5px 2.5% 20px 2.5%;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.about-me {
    color: #3a3a3a;
}

hr {
    border-color: #e9e8e8;
    margin-bottom: 20px;
}

.profile-pic {
    width: 22%;
    float: left;
    padding-right: 15px;
    padding-bottom: 20px;
}

p {
    color: #777777;
    font-size: 120%;
}

.p1 {
    width: 75%;
    float: left;
    height: 160px;
    margin: 0px;
    line-height: 40px;
}
.p2 {
    width: 100%;
    float: left;
    margin: 0 0 20px 0;
    line-height: 40px;
}

.p3 {
    width:100%;
    float: left;
    margin: 0;
    line-height: 40px;
}

footer {   
    border-top: solid 6px #3a3a3a;
    background: #666666;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    padding: 60px 0 0 10px;
    overflow: hidden;
}

footer p {
    font-size: .75em;
    color: white;
}

/* Contact Page */

.contact {
    color: #3a3a3a;
}

form {
    margin: 0px;
}

label {
    color: #777777;
    font-size: 80%;
}

input {
    width: 100%;
    margin: 5px 0;
}

textarea {
    width: 100%;
    margin-bottom: 15px;
}

.button {
    width: 80px;
    background-color: #3a3a3a;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

/* Portfolio Page */

.portfolio {
    color: #3a3a3a;
}

.grid img {
    float: left;
    position: relative;
    z-index: 0;
}

span {
    color: white;
    text-align: center;
    position: absolute;
    padding: 20px 0px;
    width: 280px;
    margin-top: 210px;
    background: #3a3a3a;
    z-index: 1;
}

.gridDiv {
    width: 300px;
    margin-bottom: 23px;
    /* margin-right: 23px; */
    float: left;
}

.leftImg {
    margin-right: 23px;
}

@media (max-width: 980px) {
    section {
        width: 60%;
        margin-left: 5%;
    }

    .name {
        margin-left: 5%;
    }

    .navbar {
        margin-right: 5%;
    }

    .p1 {
        overflow: auto;
        width: 350px;
    }

    p {
        font-size: 1rem;
    }

    .gridDiv {
        width: 300px
        margin-bottom: 23px;
        /* margin-right: 23px; */
        float: left;
    }
    
    .leftImg {
        margin-right: none;
    }
    
    .grid {
        overflow: auto;
    }
}

@media (max-width: 768px) {
    section {
        width: 85%;
        margin-left: 5%;
    }

    .name {
        margin-left: 5%;
    }

    .navbar {
        margin-right: 5%;
    }

    .p1 {
        overflow: auto;
        width: 350px;
    }

    p {
        font-size: 1rem;
    }

    .grid {
        overflow: auto;
    }
}

@media (max-width: 640px) {
    .name {
        margin: 0;
        padding: 25px 0;
        width: 100%;
        text-align: center;
    }

    header {
        text-align: center;
    }

    .navbar {
        margin: 0;
        padding: 10px 0;
        float: none;
        display: inline-block;
        position: relative;
        text-align: center;
    }

    section {
        width: 87.5%;
        display: block;
        margin: auto;
    }

    .profile-pic {
        width: 100%;
        float: left;
        padding-right: 15px;
        padding-bottom: 20px;
    }
    

    p {
        overflow: auto;
        font-size: 1rem;
        line-height: 0px;
    }
}